.league
    .container
            width: 102%
            height: 7rem
            border: solid 1px
            margin-bottom: 3%
            &__img
                width: 15%
                max-width: 15vw
                max-height: 12vh
            &__item
                display: flex
                flex-direction: row
                justify-content: flex-start
                align-content: center
            p
                display: flex
                flex-direction: column
                justify-content: center
                margin-left: 3%
                font-family: 'Staatliches'
            .buttons
                display: flex
                flex-direction: row
                align-content: center
                justify-content: space-evenly
                width: 100%
                margin-top: 1.5%
                &__leaguedetail
                    width: 7rem
                    height: 2rem
                    border-radius: .2rem
                    background-color: #cdf1cc
                    font-family: 'Big Shoulders Text'
                    letter-spacing: .1rem
                &__addteamtoleague
                    width: 7rem
                    height: 2rem
                    border-radius: .2rem
                    background-color: #cdf1cc
                    font-family: 'Big Shoulders Text'
                    letter-spacing: .1rem